html, body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#aside /*Menu lateral*/
{
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    background-color: #063f1c;
    overflow-y: auto;
    width: 300px;
    transition: all ease-in-out 0.5s;
    padding: 0 15px;
    z-index: 9997;
}

#aside .profile img /*foto pessoal*/
{
    margin: 15px auto;
    display: block;
    width: 120px;
}

#aside .profile h1 /*Nome abaixo da foto pessoal*/
{
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

.nav-menu /*Para o nav-menu ficar alinhado*/
{
    padding: 1.5rem;
}

.nav-menu a,
.nav-menu a:focus /*Para deixar os textoscom suas respectivas cores e tamanhos*/
{
    display: flex;
    align-items: center;
    color: #fff;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i /*Para deixar os icones com suas respectivas cores e tamanhos*/
{
    font-size: 24px;
    padding-right: 0.8rem;
    color: #fff;
}

.nav-menu a:hover
{
    color: #fff;
}

i.menu-mobile
{
    position: fixed;
    color: #fff;
    background-color: #063f1c;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    border-radius: 4rem;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
    display: none;
    justify-content: center;
    align-items: center;
}

.menu-nav-active
{
    overflow: hidden;
}

.menu-nav-active #aside
{
    left: 0;
}